* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.landing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-content {
  display: flex;
  align-items: center;
}

.landing-video {
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.landing-text {
  text-align: center;
  font-size: 5rem;
  margin-left: -300px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  z-index: 99;
}

.text-2 {
  text-align: center;
  font-size: 24px;
}

body {
  background-image: url("/path/to/your/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-section {
  position: relative;
}

.blue {
  position: absolute;
  bottom: -3  00px;
  left: -200px;
  width: 700px;
  height: 700px;
  background-color: rgba(50, 50, 227, 0.713);
  border-radius: 50%;
  z-index: -9;
}

.blue-circley {
  position: absolute;
  top: -100px;
  right: -200px;
  width: 500px;
  height: 500px;
  background-color: rgba(50, 50, 227, 0.713);
  border-radius: 50%;
}

